body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  min-height: 6800px;
  font-family: "Inter", sans-serif;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 0;
  border-bottom: none;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 7rem;

}
.navbar-nav {
  margin-top: 7rem;
  margin-left: 1.2rem;
}
 .navbar ul{
    margin:0;
    padding:0;
    display:flex;
  }
  
  .navbar ul li{
    list-style:none;
    margin:0 20px;
    transition:0.5s;
    padding-top: 2rem;
  }
  
  .navbar ul li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:18px;
    font-family: sans-serif;
    color:#fff;
    text-transform:uppercase;
    transition:0.5s;
  }
  
  .navbar ul:hover li a{
    transform:scale(1.5);
    opacity:0.2;
    filter:blur(5px);
  }
  
  .navbar ul li a:hover{
    transform:scale(1.2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  .navbar ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#696969;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
    border-radius: 1.4rem;
  }
  
  .navbar ul li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }

.navbar-collapse {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.nav-item {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}


/* Hero */
#hero {
  display: block;
  color: #fff;
  padding-top: 27rem;
  width: 100%;
  background-image: linear-gradient(rgba(63, 63, 63, 0.5), rgba(0, 0, 0, 0.9)),
    url(img/bghome.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-left: 7rem;
}

.animated-text{
  color: aliceblue;
  position: absolute;                                 
  top: 53%;         
  right: 13%; 
  transform: translate(-50%,-50%);
  background: none;
  padding: 0 60px;
  height: 80px;
  overflow: hidden;
  padding-left: 9rem;
}
.line{
    text-align: left;
  font-size: 40px;
  line-height: 90px;
  font-size: 6rem;
  font-weight: 500
}
.line:first-child{
  animation: anim 20s infinite;
}
@keyframes anim{
  0%{
    margin-top: 0;
  }
  16%{
    margin-top: -100px;
  }
  33%{
    margin-top: -200px;
  }
  50%{
    margin-top: -280px;
  }
  66%{
    margin-top: -200px;
  }
  82%{
    margin-top: -100px;
  }
  100%{
    margin-top: 0;
  }
}
#hero h1 {
  font-size: 6rem;
  padding-top: rem;
}
#hero p {
  padding-top: 5rem;
  font-size: 1.4rem;
}
#hero .dropdown {
  margin-right: 1.5rem;
  float: right;
  padding-right: 1.5rem;
  border: none;
  background-color: transparent;
  box-shadow: none;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
#home .container {
  padding-right: 4rem;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
#home .dropdown-menu {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-bottom: 5rem;
  font-size: 1rem;
}

#home .dropdown-item {
  background-color: transparent;
  margin-bottom: 5rem;
  font-size: 1.4rem;
}

#home .dropdown-item:hover {
  color: #898989;
}
#hero .dropdown-toggle {
  background-color: transparent;
  border: none;
  margin-bottom: 5rem;
  font-size: 1rem;
}
#hero .dropdown-toggle:hover {
  border: none;
  background-color: transparent;
  text-shadow: 0 0 10px rgb(175, 175, 175), 0 0 20px rgb(171, 171, 171),
    0 0 30px rgb(168, 168, 170);
  margin-bottom: 5rem;
}
#hero .search-form {
  display: wrap;
  align-items: center;
  margin-top: 0.2rem;
  padding-top: 0.4rem;
  padding-left: 75rem;
  margin-bottom: 5rem;
  color: #fff;
}

#hero .search-form input {
  padding: 10px;
  border-bottom: 0.2rem solid #fff;
  border-radius: 3rem;
  margin-right: 10px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  color: #fff;
}
#hero .search-form input .placeholder {
  color: #fff;
}
#hero .search-form button {
  background-color: #fff;
  color: black;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5rem;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 2;
}

/* Home */
#home .about {
  padding-left: 7rem;
  display: flex;
  padding-top: 5rem;
  justify-content: space-between;
  padding-right: 7rem;
  flex: wrap;
}
#home .about h2 {
  font-size: 6rem;
  font-weight: 550;
}
#home .about p {
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 7.5rem;
}
#home .image img {
  justify-content: center;
  padding-left: 7rem;
  padding-top: 6rem;
  width: 1750px;
}
/* Koleksi */
#koleksi .navbar2 {
  padding-left: 4.1rem;
  font-size: 1.4rem;
  padding-top: 3rem;
}
#koleksi h1 {
  padding-left: 7rem;
  font-size: 5rem;
  padding-top: 5rem;
}
#koleksi h1 span {
  font-size: 1.4rem;
  color: #898989;
}
#koleksi .row {
  padding-top: 2rem;
  padding-left: 7rem;
  padding-right: 7rem;
}
#koleksi .row .card {
  margin-right: 1.2rem;
  margin-bottom: 1.4rem;
  background-color: #efefef;
  box-shadow: inset 0 7px 6px rgba(0, 0, 0, 0.2);
}
#koleksi .row .card .card-body {
  display: flex;
  align-items: center;
}
#koleksi .row .card-body .card-text img {
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-right: 2rem;
}
#koleksi .row .card .card-header {
  font-size: 1.2rem;
  padding-top: 20px;
}

/* CARD1 */
#koleksi .row .card {
  background-color: #efefef;
  box-shadow: inset 0 7px 6px rgba(0, 0, 0, 0.2);
  margin-right: 1.2rem;
  margin-bottom: 1.4rem;
  border-radius: 1.5rem;
}
#koleksi .card .card-header {
  padding-top: 1.2rem;
  font-size: 1.4rem;
  padding-left: 1.4rem;
}
#koleksi .card .card-body{
  align-items: center;
  padding-left: 2.6rem;
  justify-content: center;
}
#koleksi .card .card-footer {
  padding-left: 2rem;
  padding-top: 1.9rem;
  justify-content: space-between;
}
#koleksi .card .card-body img {
  padding-top: 0.2rem;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
#koleksi .row .card:hover {
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3);
  background-image: url(img/8150248.jpg);
  background-size: cover;
  color: #fff;

}
#koleksi .card .card-body img:hover {
  transform: scale(1.2);
}

/* Terbaru */
#terbaru{
  padding-top: 7rem;
  padding-left: 7rem;
}
#terbaru .row{
  filter: grayscale();
}
#terbaru .row .card img{
  max-width: 100%;
  height: auto;
}
#terbaru .row .card{
  border-radius: 1.4rem;
  background-color: #efefef;
}
#terbaru .row .card .card-body h5{
  padding-top: 1.3rem;
  font-size: 2rem;
  font-weight: 600;
}
#terbaru .row .card:hover{
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3);
  filter: none;
}
#terbaru .row:hover{
  filter: none;
}
/* Diskon */
#diskon{
  padding-top: 7rem;
}
#diskon .gambar2 { 
  position: relative; 
} 
#diskon .overlay-text { 
  position: absolute; 
  top: 0; 
  left: 0; 
  color: white; 
  text-align: center; 
  padding-top: 3rem;
  padding-left: 8rem;
}
#diskon .overlay-text .teks1{
  text-align: left;
  font-size: 1.2rem;
} 
#diskon .overlay-text .teks2{
  text-align: left;
  font-size: 3rem;
  padding-top: 4rem;
}
#diskon .overlay-text .teks2 span{
  font-size: 1.4rem;
}
#diskon .overlay-text .limit{
  display: flex;
  text-align: left;
  padding-right: 5rem;
  justify-content: space-between;
  padding-top: 4rem ;
  font-size: 1.2rem;
} 
#diskon .overlay-text .kon{
  display: flex;
  text-align: left;
  padding-top: 17rem;
}
#diskon .overlay-text .kon h1{
  font-size: 15rem;
}
#diskon .overlay-text .kon p{
  font-size: 2rem;
}
.gambar3 {
  position: relative; 
}

.overlay-text1 {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 36px; 
  padding-bottom: 2rem;
  text-align: center;
}
.overlay-text1 p{
  font-size: 1.6rem
}
.overlay-text1 h1{
  font-size: 5rem;
  color:white
}
.overlay-text1 .search-box {
  display: flex;
  align-items: center;
  width: 300px; /* Adjust width as needed */
  margin: 0 auto; /* Center the form */
  border: none;
  border-radius: 5px;
  padding-top: 17rem;
  justify-content: space-between;
}

.overlay-text1 .search-input {
  flex-grow: 1; /* Expand to fill available space */
  border: none;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  flex-grow: 1;
}

.overlay-text1 .search-button {
  display: flex;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5rem;
  width: 200px;
  height: 55px;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
  
}
.overlay-text1 .search-button:hover {
  background-color: black;
  color: #fff;
}
footer {
  padding-top: 7rem;
  padding-right: 1rem;
  align-items: center;}
footer .about{
  padding-left: 3rem;
  padding-right: 1rem;
  text-decoration: none;
  text-align: left;
}
footer .about .list li a{
  text-decoration: none;
  color: rgb(87, 87, 87);
  text-align: left;
}
footer .about .list li {
  list-style-type: none;
  padding-top: 20px;
  text-align: left;
  
}
footer .about .list {
  text-align: left;
}
footer .about .list li a:hover{
  color: black;
}
footer .brand  img{
  padding-top: 2rem;
}
footer .text {
  padding-left: 7rem;
  padding-top: 6.9rem;
  font-size: 1.2rem;
}
footer .text img{
  width: 100px;
}
footer .text span {
  padding-left: 70rem;
}



